.main {
  background-color: var(--vampire-black);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  align-items: center;
  background-color: var(--vampire-black);
  margin: 0 auto;
  width: 80%;
  height: 37.5rem;
}

.main-content {
  justify-self: start;
  color: var(--white);
  margin-left: 1.25rem;
  width: 80%;
}

.main-content h1 {
  font-size: 2.5rem;
}

.main-content p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.main-btn {
  background-color: var(--torch-red);
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  top: 1.56rem;
  margin-top: 2rem;
  padding: 0.5rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  transition: all .35s;
  cursor: pointer;
}

.main-btn a {
  color: var(--white);
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.main-btn:hover {
  background: var(--tyrian-purple);
  color: var(--white);
  border-radius: 0.25rem;
}

#main-img {
  width: 80%;
  height: 80%;
}

.main-img-container {
  text-align: center;
}

/* Mobile responsive */
@media screen and (max-width: 48em) {
  .main-container {
    display: grid;
    grid-template-columns: auto;
    justify-self: center;
    align-items: center;
    background-color: var(--vampire-black);
    margin: 0 auto;
    width: 90%;
    height: 28.12rem;
  }

  .main-content {
    justify-self: center;
    color: var(--white);
    margin: 0;
    width: 80%;
  }

  .main-content h1 {
    font-size: 2.5rem;
  }

  .main-content p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  #main-img {
    display: none;
  }
}

@media screen and (max-width: 30em) {
  .main-content {
    text-align: center;
  }

  .main-content h1 {
    font-size: 2.8rem;
  }

  .main-content p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .main-btn {
    margin-top: 2.5rem;
    padding: 0.75rem 2.25rem;
  }
}