html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.services-section {
    background-color: var(--vampire-black);
    width: auto;
    min-height: 12.5rem;
    height: auto;
    padding-bottom: 11rem;
}

.services-heading {
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 3rem;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--vampire-black);
    margin: 0 auto;
    padding: 0;
    max-width: 75rem;
    height: auto;
    transform: translateY(5rem);
}

.services-cell {
    flex: 0 1 15.62rem;
    text-align: center;
    position: relative;
    max-width: 15.62rem;
    height: 17.18rem;
    margin: 0.125rem;
    box-shadow: 0px 0px 15px 0px hsl(0, 0%, 3.1%, 0.8);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    cursor: pointer;
    z-index: -1;
}

.services-cell_img {
    object-fit: cover;
    object-position: center;
}

.services-cell_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: hsl(1.9, 100%, 50%);
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px var(--tyrian-purple);
    text-transform: uppercase;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    transition: opacity 350ms;
}

.services-cell::before,
.services-cell::after,
.services-cell_img {
    display: block;
    position: absolute;
    top: -50%;
    width: 100%;
    height: 200%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    z-index: -1;
}

.services-cell:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 99;
}

.services-cell:before {
    content: '';
    background: var(--white);
    position: absolute;
    top: 3.12rem;
    left: 0;
    width: 21.87rem;
    height: 4.37rem;
    opacity: 0.4;
    transform: rotate(45deg);
    transition: transform 1.5s;
    z-index: 1;
}

.services-cell:hover:before {
    transform: translate(-6.25rem, 600%) rotate(45deg);
    transition: transform 0.5s;
}

/* Popup window when clicked */
.img-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 3.1%, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 100;
}

.popup-img {
    max-width: 43.75rem;
    max-height: 43.75rem;
    z-index: 200;
}

.img-btn-next {
    display: block;
    background-color: var(--carmin);
    color: var(--white);
    font-size: 2rem;
    position: fixed;
    top: 18.75rem;
    right: 0;
    padding: 0.5rem 1.87rem;
    border-radius: 0.25rem;
    z-index: 500;
    cursor: pointer;
}

.img-btn-prev {
    display: block;
    background-color: var(--carmin);
    color: var(--white);
    font-size: 2rem;
    position: fixed;
    top: 18.75rem;
    padding: 0.5rem 1.87rem;
    border-radius: 0.25rem;
    z-index: 500;
    cursor: pointer;
}

.img-btn-next:hover,
.img-btn-prev:hover {
    background-color: var(--torch-red);
    transition: 0.2s ease-out;
}

/* Responsive */
@media screen and (min-width: 34.37em) and (max-width: 56.18em) {
    .services-cell:nth-child(3n) {
        margin-right: calc(50% - 7.81rem);
        margin-left: calc(50% - 7.81rem);
    }

    .services-cell:nth-child(3) {
        top: -4.37rem;
    }

    .services-cell:nth-child(4) {
        top: -8.75rem;
    }

    .services-cell:nth-child(5) {
        top: -8.75rem;
    }

    .services-cell:nth-child(6) {
        top: -13.12rem;
    }

    .services-cell:nth-child(7) {
        top: -17.5rem;
        margin-right: 15.62rem;
    }
}

@media screen and (min-width: 56.18em) and (max-width: 81.25em) {
    .services-cell:nth-child(4) {
        top: -4.37rem;
        margin-left: calc(50% - 17.18rem);
    }

    .services-cell:nth-child(5) {
        position: relative;
        top: -4.37rem;
        margin-right: calc(50% - 17.18rem);
    }

    .services-cell:nth-child(6) {
        top: -8.75rem;
        margin-left: calc(50% - 33.12rem);
    }

    .services-cell:nth-child(7) {
        top: -8.75rem;
        margin-right: calc(50% - 17.18rem);
    }
}

@media screen and (min-width: 81.25em) {
    .services-cell:nth-child(n + 5) {
        position: relative;
        top: -4.37rem;
    }
}

@media screen and (max-width: 34.37em) {
    .services-cell {
        margin: 3.12rem 1.56rem;
    }
}